<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <header>
        <div class="description">
            {{ site.description }}
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
</body>
</html>
